<div class="row">
  <div class="col-sm-6">
    <h1>Sites</h1>
  </div>

  <div class="col-sm-6 text-right">
    <%= link_to new_site_path, class: 'btn btn-primary' do %>
      Add New Site
    <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Domain</th>

        <th></th>

      </tr>
    </thead>

    <tbody>
      <% @sites.each do |site| %>
        <%= content_tag :tr, id: dom_id(site), class: dom_class(site) do %>
          <td><%= site.domain %></td>

          <td><%= link_to 'Show', site %></td>

        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
